<li class="nav-item dropdown">

  <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
    <i class="fa-solid fa-bell"></i>
    <span *ngIf="matches.length" class="badge bg-primary badge-number">{{matches.length}}</span>
  </a><!-- End Notification Icon -->

  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
    <li class="dropdown-header">
      You have new notifications
      <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>

    <li *ngFor="let match of matches" class="notification-item">
      <i class="bi bi-exclamation-circle text-warning"></i>
      <div>
        <h4>You have a new match !</h4>
        <p>{{match}}</p>
        <p>30 min. ago</p>
      </div>
    </li>

    


    

    <li>
      <hr class="dropdown-divider">
    </li>
    <li class="dropdown-footer">
      <a href="#">Show all notifications</a>
    </li>

  </ul><!-- End Notification Dropdown Items -->

</li><!-- End Notification Nav -->
