<div class="container p-5">
    <form class="row g-3">
        <div class="col-md-6">
          <label for="first-name" class="form-label">first name</label>
          <input type="text" class="form-control" id="first-name">
        </div>
        <div class="col-md-6">
          <label for="last-name" class="form-label">last-name</label>
          <input type="text" class="form-control" id="last-name">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
          <div class="col-md-6">
            <label for="confirmPassword4" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword4">
          </div>
        <div class="col-12">
          <label for="inputemail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputemail" placeholder="gg@mail.com">
        </div>
        
        <div class="col-md-6">
          <label for="inputContry" class="form-label">Contry</label>
          <input type="text" class="form-control" id="inputContry">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Passions</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
</div>
