<div class="container p-5">
  <h1 class="display-3 p-2">fill the form</h1>
    <form #formulaire="ngForm"class="row g-3">
        <div class="col-md-6">
          <label for="first-name" class="form-label">first name</label>
          <input required type="text" class="form-control" id="first-name" ngModel name="firstname" #firstname="ngModel">
        </div>
        <div class="col-md-6">
          <label for="last-name" class="form-label">last-name</label>
          <input required type="text" class="form-control" id="last-name" ngModel name="lastname" #lastname="ngModel">
        </div>
        <div class="col-md-6">
          <label for="user-name" class="form-label">user-name</label>
          <input required type="text" class="form-control" id="user-name" ngModel name="username" #username="ngModel">
        </div>
        <div class="col-3">
          <label for="inputage" class="form-label">Date of birth</label>
            <input required type="date" min="2004-01-02" class="form-control" id="inputage" ngModel name="date" #date="ngModel">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}" type="password" class="form-control" id="inputPassword4" ngModel name="password" #password="ngModel">
            <div class="alert alert-danger" *ngIf="password.invalid && password.dirty">password must contain at least 1 Maj 1 Min and lengthmin of 7</div>
          </div>
          <div class="col-md-6">
            <label for="confirmPassword4" class="form-label">Confirm Password</label>
            <input required type="password" class="form-control" id="confirmPassword4" ngModel name="cpassword" #cpassword="ngModel" >
            <div class="alert alert-danger" *ngIf="notMatch">password and confirm-password don't match</div>
           <!-- <div class="alert alert-danger" *ngIf="password.value!=cpass ">password must contain at least 1 Maj 1 Min and lengthmin of 7</div>-->
          </div>
        <div class="col-9">
          <label for="inputemail" class="form-label">Email</label>
          <input required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" type="email" class="form-control" id="inputemail" placeholder="gg@mail.com" ngModel name="email" #email="ngModel">
          <div class="alert alert-danger" *ngIf="email.invalid && email.dirty">email must be of form "cc@aaa.tt"</div>
        </div>
        <div class="col-md-3">
            <label for="inputCity" class="form-label">Sex</label>
            <select class="form-select" id="inputGroupSelect01" ngModel name="sex" #sex="ngModel">
              <option value="M">Male</option>
              <option value="F">female</option>
            </select>
          </div>


        <div class="col-md-6">
          <label for="inputContry" class="form-label">Country</label>
          <select class="form-select" aria-label="Default select example"id="inputContry" ngModel name="country" #country="ngModel">
            <option selected>select your counry</option>
            <option *ngFor="let country of countries">{{country.name.common}}</option>
          </select>
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input required type="text" class="form-control" id="inputCity" ngModel name="city" #city="ngModel">
          </div>
       <!-- <div class="col-md-6">
          <ng-multiselect-dropdown required ngModel name="passions" #passions="ngModel"
          [placeholder]="'Select Your Passions'"
        [settings]="dropdownSettings"
        [data]="dropdownList">
            </ng-multiselect-dropdown>
        </div>
      <div class="col-md-6">
      <app-upload-image></app-upload-image> 
      </div>
-->




      <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" [disabled]="formulaire.invalid" type="submit"(click)="register(formulaire)">Sign in</button>
        </div>
      </form>
</div>
