<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <app-logo-nav></app-logo-nav>

    <app-search-bar></app-search-bar>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <app-notification-nav></app-notification-nav>

        <app-messages-nav></app-messages-nav>

        <app-profile-nav [user]="user"></app-profile-nav>

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

