<div class="container-fluid p-5">
    <div class="row">
        <div class="col-6">
            <img src="../../../../assets/images/contact.svg" class="img-fluid"alt="">

        </div>
        <div class="col-md-6 ">
            <h2 class="text-black" >Contact us</h2>
            <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputfirstname" class="form-label">first name</label>
                  <input type="text" class="form-control" id="inputfirstname">
                </div>
                <div class="col-md-6">
                  <label for="inputlastname" class="form-label">last name</label>
                  <input type="text" class="form-control" id="inputlastname">
                </div>
                <div class="col-12">
                  <label for="inpuemail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="inputemail" placeholder="gg@mail.com">
                </div>
                <div class="col-12">
                        <label for="exampleFormControlTextarea1" class="form-label">Problem</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-warning">Send</button>
                </div>
              </form>

        </div>
    </div>
</div>
