
<footer class="footer bg-color sticky-bottom mt-auto py-2">
    <div class="container">
      <div class="row">
          <div class="col-md-3 border-end ">
              <h3>Contributors</h3>
              <ul style="list-style-type:none;">
                  <li>Skander Menzli</li>
                  <li>Med Farouk Drira</li>
                  <li>Farres Garrach</li>
              </ul>

          </div>
          <div class="col-md-3 border-end">
              <h3>Socials</h3>
              <ul style="list-style-type:none;">
                  <li class="f-brand"><i class="fa-brands fa-facebook"></i> Facebook</li>
                  <li class="t-brand"><i class="fa-brands fa-twitter"></i> Twitter</li>
                  <li class="i-brand"><i class="fa-brands fa-instagram"></i > Instagram</li>
              </ul>
          </div>
          <div class="col-md-4">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
          </div>
      </div>
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>© 2021 Company, Inc. All rights reserved.</p>
      </div>
    </div>
  </footer>
