

<div class="col-3 h-100 w-25 bg-dark"style="background-color: #eee;">

</div>




<!--
<div class="sidebar col-3 bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
      </a>

      <hr class="bg-light">
      <u>
          <li>invites</li>
          
          <li>profil settings</li>
      </u>

</div>

-->