<body [ngClass]="{'toggle-sidebar':sidebar}">

    <body [ngClass]="sidebar? 'toggle-sidebar':''">
    
    

    <app-header (toggle_sidebar)="processReq($event)"></app-header>
        
    <app-sidebar></app-sidebar>
    
        

    
<!--<div class="container">
    <div class="row">

            {{title|async}}


    </div>
</div>-->
<app-create-room></app-create-room>
<app-messaging></app-messaging>
    


</body>
    
    <script src="assets/js/main.js"></script>
    
    
        

    

